<div nz-row nzGutter="24"
  class="w-full py-10 bg-[url('assets/img/bg/art-news-noti.svg')] bg-cover">
  <!-- Tin tuc -->
  <div nz-col nzSpan="24" nzXl="24">
    <div nz-row>
      <!-- title -->
      <div nz-col nzSpan="24" class="mb-5x4">
        <span class="text-dotim text-title2 font-bold">News</span>
        <span class="text-blue3 text-title2 font-bold cursor-pointer float-right">
          <i class="fa-solid fa-arrow-right mr-5x2"></i><i>More</i>
        </span>
      </div>
      <!-- cards -->
      <div nz-col nzSpan="24">
        <div nz-row nzGutter="24">
          <!-- left -->
          <div nz-col nzSpan="24" nzMd="11" nzLg="11">
            <app-card-news-big></app-card-news-big>
          </div>
          <!-- right -->
          <div nz-col nzSpan="24" nzMd="13" nzLg="13" class="mt-3 md:mt-0">
            <div class="w-full mb-3">

              <div nz-row nzGutter="14" class="mb-5">
                <div class="w-full" nz-col nzSpan="12">
                  <img class="w-full h-[130px]" src="assets/img/logo/tenhag.jpg"
                    onerror="this.src='assets/img/bg/default-cover.jpg'">
                </div>
                <div nz-col nzSpan="12">
                  <div class="mb-1">
                    <span class="text-grey4 text-action1 font-thin">
                      <i class="fa-solid fa-calendar-days"></i>
                      15:50:00 03/05/2024
                    </span>
                  </div>
                  <div class="overflow-ellipsis  overflow-hidden text-justify h-[81px]">
                    <span class="text-grey1 text-subtitle font-medium ">
                      Manchester United v Arsenal · Arsenal have 2 key injury doubts for Manchester United clash · Erik ten Hag hopes injured Man Utd stars 'will put their hands up' ...
                    </span>
                  </div>
                  <div class="mt-1 text-blue3 text-action1 italic">
                    <span class="mr-2.5"><i class="fa-solid fas fa-arrow-right"></i></span>
                    <span>Detail</span>
                  </div>
                </div>
              </div>

              <div nz-row nzGutter="14" class="mb-5">
                <div class="w-full" nz-col nzSpan="12">
                  <img class="w-full h-[130px]" src="assets/img/logo/gvardiol.png"
                    onerror="this.src='assets/img/bg/default-cover.jpg'">
                </div>
                <div nz-col nzSpan="12">
                  <div class="mb-1">
                    <span class="text-grey4 text-action1 font-thin">
                      <i class="fa-solid fa-calendar-days"></i>
                      14:25:00 02/05/2024
                    </span>
                  </div>
                  <div class="overflow-ellipsis  overflow-hidden text-justify h-[81px]">
                    <span class="text-grey1 text-subtitle font-medium ">
                      Josko Gvardiol · Josko Gvardiol double sinks Fulham as Manchester City go top of Premier League · Josko Gvardiol explains penalty rejection amid hat-trick hopes ...
                    </span>
                  </div>
                  <div class="mt-1 text-blue3 text-action1 italic">
                    <span class="mr-2.5"><i class="fa-solid fas fa-arrow-right"></i></span>
                    <span>Detail</span>
                  </div>
                </div>
              </div>

              <div nz-row nzGutter="14">
                <div class="w-full" nz-col nzSpan="12">
                  <img class="w-full h-[130px]" src="assets/img/logo/bruno.jpg"
                    onerror="this.src='assets/img/bg/default-cover.jpg'">
                </div>
                <div nz-col nzSpan="12">
                  <div class="mb-1">
                    <span class="text-grey4 text-action1 font-thin">
                      <i class="fa-solid fa-calendar-days"></i>
                      18:30:00 01/05/2024
                    </span>
                  </div>
                  <div class="overflow-ellipsis  overflow-hidden text-justify h-[81px]">
                    <span class="text-grey1 text-subtitle font-medium ">
                      Manchester United hope to have Bruno Fernandes back in their starting line-up to face Arsenal. The club captain sat out Monday's defeat at ...
                    </span>
                  </div>
                  <div class="mt-1 text-blue3 text-action1 italic">
                    <span class="mr-2.5"><i class="fa-solid fas fa-arrow-right"></i></span>
                    <span>Detail</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Thong bao -->

</div>