<div nz-row class="w-full p-0">
  <div nz-col nzSpan="16" nzXs="24" nzMd="12" nzLg="16"
    class="bg-[url('assets/img/other/fbcover-220524.jpg')] bg-cover bg-center">
    <div class="bg-primary bg-opacity-80 h-full p-12 md:pr-4">
      <div class="w-fit pb-10">
        <p class="text-title3 text-white font-light">Tại sao chọn</p>
        <div class="h-[1px] w-full my-2 bg-white"></div>
        <p class="text-title3 font-extra-light text-white">TRƯỜNG ĐẠI HỌC</p>
        <p class="text-title2 font-bold mt-5 text-white">SƯ PHẠM KỸ THUẬT TP.HỒ CHÍ MINH</p>
      </div>
      <div>
        <app-slide-card-news-big></app-slide-card-news-big>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="8" nzXs="24" nzMd="12" nzLg="8" class="bg-blue2">
    <div
      class="w-full h-full bg-[url('assets/img/bg/art-why-us.svg')] bg-cover bg-bottom bg-no-repeat pt-8 pl-4 pr-4">
      <app-side-card-info-small></app-side-card-info-small>
    </div>
  </div>
</div>