<div
  class="lg:flex mx-auto relative w-full items-center lg:px-10 md:px-5x6 sm:px-5 px-5x2 py-5x5 shadow-2xl justify-between rounded-lg bg-white overflow-hidden translate-y-5 lg:translate-y-10">
  <div class="absolute top-0 left-0 -z-10">
    <img class="w-full" src="assets/img/bg/art-cta-ams.svg">
  </div>

  <div class="flex-1 mr-5x2 max-h-[138px] h-auto bg-transparent lg:max-w-[min(892px,68%)]">
    <img src="assets/img/logo/ute_bdrp.svg" class=" max-h-[138px] h-auto w-full">
  </div>
  <div class="xs:flex xs:justify-center xs:w-full lg:block lg:w-fit lg:my-0 pt-5 z-10">
    <button
      class="text-white bg-red lg:px-5x5 lg:py-5x3 px-16 py-4 border-0 rounded-lg cursor-pointer">
      <span
        class="font-medium lg:text-title2 md:text-title4 md:leading-6 sm:text-subtitle xs:text-[15px] xs:leading-4 text-metadata3">
        Xét Tuyển Ngay
      </span>
    </button>
  </div>
</div>