<div nz-row nzGutter="14">
  <div class="w-full" nz-col nzSpan="12">
    <img class="w-full h-full" src="assets/img/logo/tenhag.jpg"
      onerror="this.src='assets/img/bg/default-cover.jpg'">
  </div>
  <div nz-col nzSpan="12">
    <div class="mb-1">
      <span class="text-grey4 text-action1 font-thin">
        <i class="fa-solid fa-calendar-days"></i>
        15:50:00 03/05/2024
      </span>
    </div>
    <div class="overflow-ellipsis  overflow-hidden text-justify h-[81px]">
      <span class="text-grey1 text-subtitle font-medium ">
        Manchester United v Arsenal · Arsenal have 2 key injury doubts for Manchester United clash · Erik ten Hag hopes injured Man Utd stars 'will put their hands up' ...
      </span>
    </div>
    <div class="mt-1 text-blue3 text-action1 italic">
      <span class="mr-2.5"><i class="fa-solid fas fa-arrow-right"></i></span>
      <span>Detail</span>
    </div>
  </div>
</div>