<div nz-row class="row">
  <div nz-col [nzSpan]="24">
    <div class="card-row" *ngFor="let x of [1,2,3,4]">
      <div class="card">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's
          standard dummy text ever since the 1500s
        </p>
        <button nz-button nzType="primary" class="border-0">
          Xem chi tiết
          <i class="fas fa-chevron-right ml-5x1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
