<app-breadcrumb-home [breadcrumb]="breadcrumbObj"></app-breadcrumb-home>
<div nz-row class="mt-5">
  <div nz-col nzLg="16" nzSpan="24">
    <app-content-display [chiTiet]="chiTiet"></app-content-display>
  </div>
  <div nz-col nzLg="8" nzSpan="24" class="lg:pl-6 mb-40">
    <app-tb-tt-sk-side-panel [title]="thongBaoXemNhieuNhatTitle"
      [listData]="thongBaos"></app-tb-tt-sk-side-panel>
  </div>
</div>

<div nz-row>
  <app-tin-tuc-lien-quan [title]="thongBaoLienQuanTitle"
    [listData]="thongBaoLienQuans"></app-tin-tuc-lien-quan>
</div>