<form [formGroup]="form" (keydown.enter)="$event.preventDefault()" class="w-full">
  <div nz-row class="pb-2.5">
    <div nz-col nzSpan="24">
      <label>{{langData.LOAI_THONG_BAO}}</label>
      <label class="field-required"><sup><i class="fa-solid fa-star-of-life"></i></sup></label>
    </div>
    <div nz-col nzSpan="24">
      <nz-select formControlName="loaiThongBaoId"
        [nzStatus]="displayFieldCssZorro(form, 'loaiThongBaoId')" class="w-full" nzShowSearch>
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
      <app-field-error-display [displayError]="isFieldValid(form, 'loaiThongBaoId', 'required')"
        [errorMsg]="langData.KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pb-2.5">
    <div nz-col nzSpan="24">
      <label>{{langData.TIEU_DE}}</label>
      <label class="field-required"><sup><i class="fa-solid fa-star-of-life"></i></sup></label>
    </div>
    <div nz-col nzSpan="24">
      <input nz-input formControlName="tieuDe" [nzStatus]="displayFieldCssZorro(form, 'tieuDe')">
      <app-field-error-display [displayError]="isFieldValid(form, 'tieuDe', 'required')"
        [errorMsg]="langData.KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pb-2.5">
    <div nz-col nzSpan="24">
      <label>{{langData.ANH_BIA}}</label>
      <label class="field-required"><sup><i class="fa-solid fa-star-of-life"></i></sup></label>
    </div>
    <div nz-col nzSpan="24">
      <button nz-button class="w-full" nzType="primary" (click)="openCropImgModal(modalCropImg)">
        {{ preBannerImg ? langData.CHINH_SUA : langData.THEM_MOI }} {{ langData.HINH_ANH }}
      </button>
      <br>
      <img class="w-full mt-5x1" [src]="preBannerImg | blobToB64:'data:image/jpeg;base64,' | async">
      <app-field-error-display [displayError]="isFieldValid(form, 'anhBiaId', 'required')"
        [errorMsg]="langData.KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pb-2.5">
    <div nz-col nzSpan="24">
      <label>{{langData.NOI_DUNG}}</label>
      <label class="field-required"><sup><i class="fa-solid fa-star-of-life"></i></sup></label>
    </div>
    <div nz-col nzSpan="24">
      <ckeditor [config]="cfgEditor" *ngIf="showCke" class="w-full" [editor]="editor"
        formControlName="noiDung">
      </ckeditor>
      <app-field-error-display [displayError]="isFieldValid(form, 'noiDung', 'required')"
        [errorMsg]="langData.KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pl-2.5 footer-btn">
        <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red"
          (click)="onCancel()"><i class="fa-solid fa-times mr-5x1"></i>{{langData.HUY}}</button>
      </div>
      <div class="pl-2.5 footer-btn">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="onSubmit()"><i
            class="fa-solid fa-save mr-5x1"></i>{{langData.LUU}}</button>
      </div>
    </div>
  </div>
</form>


<ng-template #modalCropImg>
  <app-image-cropping [aspectRatio]="bannerRatio"
    (outpuFile)="closeCropImgModal($event)"></app-image-cropping>
</ng-template>