<div nz-row class="mb-5x2">
  <div nz-col nzSpan="24">
    <img src="assets/img/bg/default-banner.jpg" class="w-full"
      onerror="this.src='assets/img/bg/default-banner.jpg'" />
  </div>
</div>
<div nz-row class="mb-1">
  <div nz-col nzSpan="24" class="noti-title">
    <span class="text-subtitle">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500suafabdfasbdfbahsdfabdfabsdfbakhsfkhasbddbsafbdfsbabfhbasdbfab
    </span>
  </div>
</div>
<div nz-row class="mb-5x4">
  <div nz-col nzSpan="12">
    <div class="tag">
      Hoạt động chung
    </div>
  </div>
  <div nz-col nzSpan="12" class="text-right my-auto">
    <i class="fa-regular fa-calendar-days mr-5x1"></i>
    <span class="text-metadata2 font-thin">20:00 15/09/2021</span>
  </div>
</div>

<!-- NgFor -->
<div nz-row class="mb-5x2" *ngFor="let i of [1,2]">
  <div nz-col nzSpan="12" class="my-auto">
    <i class="fa-regular fa-calendar-days mr-5x1"></i>
    <span class="font-thin">20:00 15/09/2021</span>
  </div>
  <div nz-col nzSpan="12" class="text-right">
    <div class="tag float-right">
      Hoạt động chung
    </div>
  </div>
  <div nz-col nzSpan="24" class="noti-title">
    <span class="text-subtitle">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500suafabdfasbdfbahsdfabdfabsdfbakhsfkhasbddbsafbdfsbabfhbasdbfab
    </span>
  </div>
</div>
<!-- End-NgFor -->
