<div class="file-upload-container">
  <div class="dropzone">
    <!--[ngClass]="isDisable ? 'disable':''"-->
    <div class="file">

      <!-- Upload -->
      <label class="file-label" *ngIf="!isDisableUpload && !isStartUpload">
        <input class="file-input" type="file" [accept]="acceptFilesExtension"
          (change)="uploadFile($any($event).target.files)" [multiple]="isUploadMultiFile">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa-solid fa-upload"></i>
          </span>
          <span class="file-label-sub">
            {{ langData.CHON_TEP }}
            {{ (listFiles && listFiles.length) > 0 ? langData.KHAC : ''}}...</span>
        </span>
      </label>

      <!-- Upload-ING -->
      <label class="file-label" *ngIf="isStartUpload">
        <span class="file-cta">
          <span class="file-icon">
            <img alt="Uploading" src="assets/img/other/uploading.svg" class="uploading-icon">
          </span>
          <span class="file-label-sub">
            <b class="text-blue">{{ uploadingProgress }}%</b>
            {{ uploadingProgress === 100 ? langData.DANG_HOAN_TAT : langData.DANG_TAI_LEN}}...
          </span>
          <span class="file-icon" (click)="onTerminateUploading()">
            <i class="fa-solid fa-times text-red ml-5x1"></i>
          </span>
        </span>
      </label>

      <!-- View -->
      <label class="file-label ml-5x1"
        (click)="listFiles[0].filename ? openModalViewFile(viewFile, listFiles[0].id) : null"
        *ngIf="!isStartUpload && !isUploadMultiFile && !isDisableView && listFiles?.length">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa-solid" [ngClass]="listFiles[0].filename ? 'fa-eye' : 'fa-eye-slash'"></i>
          </span>
          <span class="file-label-sub">
            {{langData.XEM_TRUOC}}
            {{listFiles[0].filename}}
          </span>
        </span>
      </label>

      <!-- download -->
      <label class="file-label ml-5x1" (click)="listFiles[0].filename ? downloadFile(listFiles[0].id) : null"
        *ngIf="!isStartUpload && isDownloadable && !isUploadMultiFile && listFiles?.length">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa-solid" [ngClass]="listFiles[0].filename ? 'fa-download' : 'fa-triangle-exclamation'"></i>
          </span>
          <span class="file-label-sub">
            {{langData.TAI_VE}}
            {{listFiles[0].filename}}
          </span>
        </span>
      </label>

      <!-- no file -->
      <label class="file-label ml-5x1" *ngIf="!isUploadMultiFile && isDisableUpload && !listFiles?.length">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa-solid fa-eye-slash"></i>
          </span>
          <span class="file-label-sub">{{langData.CHUA_CO_TEP_TIN}}</span>
        </span>
      </label>

      <!-- delete file no confirm -->
      <label class="file-label danger ml-5x1"
        *ngIf="!isStartUpload && !isUploadMultiFile && deleteNoConfirm && listFiles?.length" (click)="onRemove(0)">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa-solid fa-trash"></i>
          </span>
        </span>
      </label>

      <!-- delete file with confirm -->
      <label class="file-label danger ml-5x1"
        *ngIf="!isStartUpload && !isUploadMultiFile && !deleteNoConfirm && listFiles?.length" nz-popconfirm
        [nzPopconfirmTitle]="langData.XOA_TEP_TIN_NAY" [nzOkText]="langData.XOA" [nzCancelText]="langData.HUY"
        [nzOkDanger]="true" (nzOnConfirm)="onRemove(0)">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa-solid fa-trash"></i>
          </span>
        </span>
      </label>

    </div>
  </div>

  <div class="list-file" *ngIf="isUploadMultiFile && listFiles?.length">
    <div class="k-tag cursor-pointer" *ngFor="let item of listFiles; let i = index" nzColor="geekblue" appGetFileInfo
      [idFile]="item.id" (infoFile)="setFileName($event, item)">
      <span (click)="isDisableView ? (isDownloadable ? downloadFile(item.id) : null) :
        (item.filename ? openModalViewFile(viewFile, item.id) : null)">
        <i class="fa-solid fa-paperclip mr-5x1 text-xs"></i>
        <i class="fa-solid mr-5x1 text-xs" [ngClass]="item.filename ? 'fa-eye' : 'fa-eye-slash'"></i>
      </span>
      <i *ngIf="deleteNoConfirm" class="fa-solid fa-trash text-red cursor-pointer text-xs mr-5x1"
        (click)="onRemove(i)"></i>
      <i *ngIf="!deleteNoConfirm" class="fa-solid fa-trash text-red cursor-pointer text-xs mr-5x1" nz-popconfirm
        [nzPopconfirmTitle]="langData.XOA_TEP_TIN_NAY" [nzOkText]="langData.XOA" [nzCancelText]="langData.HUY"
        [nzOkDanger]="true" (nzOnConfirm)="onRemove(i)"></i>
      <span (click)="isDisableView ? (isDownloadable ? downloadFile(item.id) : null) :
        (item.filename ? openModalViewFile(viewFile, item.id) : null)">
        {{ item.filename }}
      </span>
    </div>
  </div>
</div>
<ng-template #viewFile>
  <app-view-file [fileId]="selectedFileIdForView" (hideIframe)="hideModalViewFile()"></app-view-file>
</ng-template>