<div class="w-full rounded-lg shadow-1x">
  <div nz-row>
    <div nz-col nzSpan="24">
      <img class="w-full" src="assets/img/logo/declan.jpg"
        onerror="this.src='assets/img/bg/default-cover.jpg'">
    </div>
  </div>
  <div nz-row class="p-4 bg-white rounded-b-lg">
    <div nz-col nzSpan="24" class="mb-3">
      <span class="text-grey4">
        <i class="fa-solid fa-calendar-days"></i>
        20:00 04/05/2024
      </span>
    </div>
    <div nz-col nzSpan="24" class="mb-2 overflow-ellipsis h-[64px] overflow-hidden text-justify">
      <span class="w-full text-title4 font-medium">
        Declan Rice - Latest news on Declan Rice, the English footballer who plays in central midfield for Arsenal and the England National Football Team. Born 14 January 1999.
      </span>
    </div>
    <div nz-col nzSpan="24" class="overflow-ellipsis h-[80px] overflow-hidden text-justify">
      <span class="w-full text-subtitle">
        Declan Rice · Sport · Littler targets breaking more records as he heads for quarter-finals · Football · Rice is the face of a new Arsenal as Arteta learns...
      </span>
    </div>
  </div>
</div>