<div class="py-5x2">
  <div nz-row>
    <div nz-col nzSpan="24">
      <app-breadcrumb-home [breadcrumb]="breadcrumbObj"></app-breadcrumb-home>
    </div>
  </div>
  <div nz-row nzGutter="24" class="mt-5x1">
    <div nz-col nzSpan="24" nzMd="16">
      <div class="mb-5x2">
        <!-- ---------- -->
        Các task Sub-page phải tạo page riêng và router link tới. Xem mẫu của
        src/app/main/gioi-thieu/organizational-structure-page
        <!-- ---------- -->
      </div>
    </div>
    <div nz-col nzSpan="24" nzMd="8">
      <app-side-menu-page [panels]="panels"></app-side-menu-page>
    </div>
  </div>
</div>
